<!DOCTYPE html>

<html>
    <head>
        <title>PPT - an interesting and playful game!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <header class="hero-unit" style="background-color:#A9F16C">
            <div class="container">
                <div class="row">
                    <div class="hero-text">
                        <h1>Welcome to PPT!</h1>
                        <p class="description">
                            Welcome to PPT !
                            <br />
                            We're devote to provide an interesting and playful game!
                            <br />
                            So, let's begin!
                            <br />
                            <a href="/login">Login in</a>
                            <a href="/register">Sign up</a>
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>