<!DOCTYPE html>

<html>
    <head>
        <title>Upload Photo!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <header class="hero-unit" style="background-color:#A9F16C">
            <div class="container">
                <div class="row">
                    <div class="hero-text">
                        <form method="post" action="/upload" enctype="multipart/form-data">
                            Choose an image to upload: <input type="file" name="Image">
                            <input type="submit" name="Upload" value="upload">
                        </form>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>