<!DOCTYPE html>

<html>
    <head>
        <title>PPT - an interesting and playful game!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <header class="hero-unit" style="background-color:#A9F16C">
            <div class="container">
                <div class="row">
                    <div class="hero-text">
                        <h1>Welcome Back!</h1>
                        <br>
                        <p>Please enter your Account and password...</p>
                        <form class="form" method="post" action="/login">
                            <input name="username" type="text" required="required" placeholder="Account Name" autofocus="">
                            <br />
                            <input name="password" type="password" required="required" placeholder="password">
                            <br />
                            <button type="submit" onclick="this.form.submit();">Log In<span class="btn-hover-effect" style="left: 362px; top: 39.3281px;"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>