<!DOCTYPE html>

<html>
    <head>
        <title>PPT - an interesting and playful game!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <header class="hero-unit" style="background-color:#A9F16C">
            <div class="container">
                <h1>Create Account</h1>
                <br>
                <form class="form" method="post" action="/register">
                    <input name="username" type="text" placeholder="Account Name" required="" value="">
                    <br>
                    <input name="password" type="password" placeholder="Password" required="">
                    <br>
                    <button id="register_submit_button" type="submit" onclick="this.form.submit();">Create Account<span class="btn-hover-effect" style="left: 103.5px; top: 54.2969px;"></span></button>
                </form>
            </div>
        </header>
    </body>
</html>