<!DOCTYPE html>

<html>
    <head>
        <title>PPT - an interesting and playful game!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <header class="hero-unit" style="background-color:#A9F16C">
            <div class="container">
                <h1>Create Result</h1>
                <br>
                <p>
                    {{if .IsAlready}}
                        Sorry, you have already registered, please <a href="/login">Login in</a>!
                    {{else if .IsFail}}
                        Sorry, you're failed to register, you can have a try <a href="/register">Sign up</a>!
                    {{else}}
                        Congratulations, you can click <a href="/my">here</a> to your personal page!
                    {{end}}
                </p>
            </div>
        </header>
    </body>
</html>