<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/login.css" type="text/css">
    <script type="text/javascript" src="/static/login.js"></script>

    <title>欢迎回来，请登录</title>
</head>
<body>
<div class="container">
    <div class="form-container">
        <div class="form-panel">
            <div class="login-form">
                <h1>欢迎回来</h1>
                <section class="form-section">
                    <label for="email">邮箱</label>
                    <input type="text" id="email" />
                </section>
                <section class="form-section">
                    <label for="password">密码</label>
                    <input type="password" id="password" />
                </section>
                <span style="margin-bottom: 8px;">忘记密码？</span>

                <button type="button">登录</button>
                <button type="button" class="alternative-login">使用<span style="font-weight: 900; color: #455a81;">二维码</span>登录</button>
            </div>
            <div class="registration-form" style="display: none">
                <h1>立即注册</h1>
                <section class="form-section">
                    <label for="username">用户名</label>
                    <input type="text" id="username" />
                </section>
                <section class="form-section">
                    <label for="email">邮箱</label>
                    <input type="text" id="email" />
                </section>
                <section class="form-section">
                    <label for="password">密码</label>
                    <input type="password" id="password" />
                </section>
                <button type="button">注册</button>
                <button type="button" class="alternative-login">使用<span style="font-weight: 900; color: #455a81;">二维码</span>扫码注册</button>
            </div>
        </div>
        <div class="registration-panel">
            <h1 class="panel-title">还未注册？</h1>
            <span class="subTitle">立即注册，开启新世界！</span>
            <button type="button" id="toggleForm">注册</button>
        </div>
    </div>
</div>
</body>
</html>